<?xml version="1.0" encoding="UTF-8"?>
<!--启动项设置为 trace，加载 springboot 启动内部各种详细输出-->
<Configuration status="OFF">
    <Appenders>
        <!--添加一个控制台追加器-->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>[%-5p] %d %c - %m%n</pattern>
            </PatternLayout>
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <!--添加一个文件追加器-->
        <File name="File" fileName="D:/logs/app.log"  append="false">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n</pattern>
            </PatternLayout>
        </File>
        <!--这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <!--<RollingFile name="RollingFile" fileName="D:/logs/app.log"

                     filePattern="D:/logs/log-back/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">

            <PatternLayout>
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n
                </pattern>

            </PatternLayout>

            <SizeBasedTriggeringPolicy size="1MB"/>

        </RollingFile>-->
    </Appenders>
    <Loggers>
        <!--根记录，调试模式，线上模式更改为INFO-->
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <!-- AppenderRef 可以控制文件输出对象-->
            <AppenderRef ref="File" />
        </Root>
        <Logger name="org.springframework" level="INFO" />
        <Logger name="zaxxer.hikari" level="INFO" />
        <Logger name="org.thymeleaf" level="INFO" />
        <!--调试模式，线上模式更改为INFO-->
        <Logger name="com.ibatis" level="INFO"/>
        <Logger name="java.sql" level="INFO" />
    </Loggers>
</Configuration>
